@media (max-width: 32em) {
  .grid-2-col {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  /* body {
    padding: 0.5rem;
  } */
  table {
    border-spacing: 1.2rem;
    border-collapse: separate;
  }
  th {
    font-size: 1.8rem;
  }
  .input {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .roi--table {
    justify-self: center;
  }
  .length {
    padding-right: 1.2rem;
  }
  .btn--calc {
    width: 6.2rem;
    height: 2.4rem;
    align-self: center;
    border-radius: 16px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
  }
}
