* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #cccccc;
  background-color: #101010;
}
.heading {
  text-align: center;
  margin-top: 4.4rem;
  margin-bottom: 5.2rem;
  text-transform: uppercase;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: auto auto;
  max-width: 120rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}
.input {
  justify-self: end;
}
